.booking-section {
  padding: 20px;
  background-color: #d6cfb4;
  margin-bottom: 20px;
}

.booking-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-row {
  display: flex;
  gap: 10px;
}

.input-field {
  padding: 10px;
  background-color: #41372d;
  border: 1px solid #ccc;
  border-radius: 10px;
  flex: 1;
  width: 150px;
  color: white;
}

.checkbox-option {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 600px;
  color: black;
}

.search-button {
  padding: 10px 20px;
  background-color: #41372d;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #484038;
}

