/* src/HeroSection.css */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
}

.hero-content {
  max-width: 500px;
}

.hero-content h1 {
  font-size: 48px;
  margin: 0;
  color: black;
}

.hero-content .brownc {
  color: #41372d;
}
.hero-content h2 {
  font-size: 36px;
  margin: 10px 0;
  color: black;
}

.hero-content p {
  font-size: 18px;
  color: black;
}

.hero-buttons {
  margin-top: 20px;
}

.hero-buttons button {
  display: flex;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.book-ride {
  background-color: #41372d;
  color: #fff;
}

.learn-more {
  background-color: #41372d;
  color: white;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}
