.navbar {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ensures all items are vertically centered */
  padding: 10px 20px;
  background-color: #d6cfb4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  padding: 0;
  margin-right: 20px;
}

.logo img {
  width: 45px;
  height: 45px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.cta-buttons {
  display: flex; /* Ensure this container is a flexbox */
  align-items: center; /* Center items vertically */
  margin-left: auto;
}

.cta-buttons button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.userName {
  margin-right: 20px;
}

.profile-icon {
  color: #41372d;
  width: 40px;
  height: 40px; /* Ensure the height matches the width for a square icon */
}
.become-host {
  background-color: #d6cfb4;
  color: black;
}

.sign-in {
  background-color: #41372d;
  color: #fff;
}
